  .spots-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 16px;
    padding: 20px;
  }

  .spot-tile {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .spot-tile:hover {
    transform: scale(1.02);
  }

  .spot-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .spot-info {
    padding: 12px;
    text-align: left;
  }

  .spot-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .spot-details span {
    font-size: 14px;
    color: #555;
  }

  .spot-rating {
    font-size: 14px;
    color: #ff9500;
    font-weight: bold;
  }


  .spot-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
