.login-modal {
  width: 300px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-radius: 20px;
  background-color: #1324

}
.login-form-label {
  font-size: 15px;
  color: #333;
  justify-content: flex-start;

}

.login-label {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: left;
}

.login-form {
  width: 80%;
  padding: 24px;
  background-color: gainsboro;
}

.demo-user-button {
  width: 45%;
  margin: 30px;
}
