.login-modal {
  width: 400px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}
.login-form-label {
  font-size: 14px;
  color: #333;

}

.login-label {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: left;
  margin-bottom: 20px; /* Add space between the label and form */
}

.login-form {
  width: 50%;
  padding: 24px;
}
